{% extends 'base.html' %}
{% block title %}新建接口{% endblock %}
{% block head %}
    {#    <link rel="stylesheet" href="{{ url_for('static',filename='css/login.css') }}">#}
{% endblock %}
{% block main %}
    <div class="content-box-40">
        <h3 class="page-title">新建接口</h3>
        <form action="{{ url_for('interface.interface_create') }}" method="post">
            <div class="form-container">
                {{ wtf.quick_form(form) }}
            </div>
        </form>
    </div>
{% endblock %}