{% extends 'base.html' %}
{% block title %}知了-注册{% endblock %}
{% block head %}
{#    <link rel="stylesheet" href="{{ url_for('static',filename='css/sign.css') }}">#}
{% endblock %}

{% block main %}
    <div class="content-box-40">
        <h3 class="page-title">注册</h3>
        <form action="{{ url_for('user.sign') }}" method="post">
            <div class="form-container">
                {{ wtf.quick_form(form) }}
            </div>
        </form>
    </div>
    {% if error %}
        <div class="error-info">
            <div class="alert alert-success alert-warning">
				 <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				<h4>
					注意!
				</h4> <strong>抱歉!</strong> {{ error.get("error") }}
			</div>
        </div>
    {% endif %}
{% endblock %}