* {
    margin: 0;
}
.navbar.navbar-inverse.navbar-fixed-top a{
    color: #fff0dc !important;
    font-size: large;
}
.navbar.navbar-inverse.navbar-fixed-top .dropdown a,.dropdown-menu a{
    color: #f34535 !important;
}

#content-body {
    background-color: #dadada;
    padding: 100px;
}

/*主展示区域样式设置*/
.main {
    background: #fff;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    padding: 30px;
}


.navbar-brand {
    overflow: hidden;
    padding: 0;
}

/*logo图片大小设置*/
.logo {
    margin: 10px 0 0 30px;
    vertical-align: middle;
    border-radius: 20%;
}

/*登陆和注册按钮分开距离*/
#bs-example-navbar-collapse-1 ul.navbar-right {
    padding: 0 30px;
}

/*主内容区域标题居中*/
.page-title {
    text-align: center;
}

.content-box-40 {
    width: 40%;
    margin: 0 auto;
}

.content-box-60 {
    width: 60%;
    margin: 0 auto;
}

.tr-td .td {
    padding-top: 15px !important;
}

/*列表页面的搜索区域*/
div.search {
    width: 100%;
    overflow: hidden;
    padding: 0 50px 20px 0;
    margin-bottom: 15px;
    border-bottom: 2px solid #f3f3f3;
}

/*列表页面的搜索区域中的form表单*/
div.search form.navbar-form {
    width: 100%;
    overflow: hidden;
    padding: 0;
}

/*列表页面的搜索区域中的form表单中的元素分开距离*/
div.search div.form-group {
    margin-right: 30px;
}

div.search div.create {
    float: left;
    margin-top: 20px;
}

/*列表中的按钮距离减少*/
td.padding-0px {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
