.info-func-btn {
    width: 100%;
    height: 3.8rem;
    /*background-color: #ff1858;*/
    line-height: 3.4rem;
    margin-bottom: 2rem;
}

.info-func-btn form {
    margin: 0;
    padding: 0;
}

.info-body {
    border-top: 1px solid #af00af;
    padding-top: 2rem;
}

input{
    width: 50rem !important;
    padding-left: 1rem !important;
}
select{
    width: 30rem !important;
}
textarea {
    width: 100rem !important;
    padding-left: 1rem !important;
}
#submit{
    width: 20rem !important;
}

/*============长页面埋点导航============*/
.quick-point{
    position: fixed;
    right: 20rem;
    top: 30rem;
    width: 20rem;
    height: 30rem;
}
.quick-point ul li {
    margin-top: 1.5rem;
    padding-left: 0.6rem;
    border-left: 0.2rem solid #948b80;
}

