{% extends 'base.html' %}
{% block title %}新建测试用例{% endblock %}
{% block head %}
    {#    <link rel="stylesheet" href="{{ url_for('static',filename='css/login.css') }}">#}
{% endblock %}
{% block selection %}
    <div class="selection" style="float: left">
        <p>快速导航</p>
        <p><a href="#content-body">回到顶部</a></p>
        <p><a href="#request-header">请求体(body)</a></p>
        <p><a href="#request-pre-fields">前置数据</a></p>
    </div>
{% endblock %}
{% block main %}
    <div class="content-box-60">
        <form class="navbar-form navbar-left" role="search" action="{{ url_for('case.case_list') }}">
            <div class="form-group btn-right">
                <button type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                </button>
            </div>
        </form>
        <br>
        <h3 class="page-title">新建测试用例</h3>
        <form action="{{ url_for('case.case_create') }}" method="post">
            <div class="form-container">
                {{ wtf.quick_form(form) }}
            </div>
        </form>
    </div>
{% endblock %}