{% extends 'base.html' %}
{% block title %}测试用例详情{% endblock %}
{% block head %}
    {#    <link rel="stylesheet" href="{{ url_for('static',filename='css/login.css') }}">#}
{% endblock %}
{% block main %}
    <div class="content-box-60">
        <h3 class="page-title">测试用例详情</h3>
        <form action="{{ url_for('case.case_info',id=id) }}" method="post">
            <div class="form-container">
                {{ wtf.quick_form(form) }}
            </div>
        </form>
    </div>
{% endblock %}