{% extends 'base_menu.html' %}
{% block title %}测试用例详情{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/base-info.css') }}">

{% endblock %}
{% block selection %}
    <div class="case-selection">
        <ul class="case-selection-list">
            <li>| 快速导航...</li>
            <li>| <a href="#content-body">回到顶部</a></li>
            <li>| <a href="#request-header">请求体(body)</a></li>
            <li>| <a href="#request-pre-fields">前置数据</a></li>
        </ul>
    </div>
{% endblock %}
{% block main %}
    <div class="info-func-btn">
        <form class="navbar-form navbar-left" role="search" action="{{ url_for('case.case_list') }}">
            <div class="form-group btn-right">
                <button type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                </button>
            </div>
        </form>
        <form class="navbar-form navbar-left" role="search" action="{{ url_for('case.case_run_by_id',id=id) }}"
              style="margin-left: 30px" method="post">
            <div class="form-group btn-right">
                <button type="submit" class="btn btn-danger">调试</button>
            </div>
        </form>
    </div>
    <div class="info-body">
        <form action="{{ url_for('case.case_info',id=id) }}" method="post">
            <div class="form-container">
                {{ wtf.quick_form(form) }}
            </div>
        </form>
    </div>
{% endblock %}