<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}{% endblock %}
    </title>
    <!-- 引入Bootstrap -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/base.css') }}">
    {% import "bootstrap/wtf.html" as wtf %}
    {% block head %}{% endblock %}

</head>
<body>
{#------------------------头部--->开始-----------------------------#}
<header id="header">
    <div class="header-center w clearfix">
        {#头部左侧#}
        <div class="header-center-l tl fl">
            <a class="header-center-l-logo" href="{{ url_for('index') }}">
                <img class='logo' src="{{ url_for('static',filename='img/logo.png') }}" alt="logo">
                <span>Welcome To AutoTest</span>
            </a>
        </div>
        {#头部中间导航#}
        <div class="header-center-c fl tc">

        </div>
        {#头部右侧#}
        <div class="header-center-r fr tr">
            <ul class="header-center-r-user">
                {#current_user.__dict__!={}当前用户的属性dict不为空，则表示当前用户是登陆状态#}
                {% if current_user.__dict__!={} %}
                    <li><a href="javascript:;"><span
                            class="glyphicon glyphicon-user"></span> {{ current_user.mini_name }}</a></li>
                    <li><a href="{{ url_for('user.logout') }}"><span class="glyphicon glyphicon-log-in"></span> 注销</a>
                    </li>
                {% else %}
                    <li><a href="{{ url_for('user.login') }}"><span class="glyphicon glyphicon-log-in"></span> 登陆</a>
                    </li>
                    <li><a href="{{ url_for('user.sign') }}"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</header>
{#------------------------头部--->结束-----------------------------#}
{#------------------------主要内容--->开始-----------------------------#}
<main id="main" class="clearfix">
    <section class="main-center clearfix">
        <div class="main-center-c">
            {% block main %}{% endblock %}

        </div>
    </section>
    <section class="main-left">
        {% block menu %}

        {% endblock %}

    </section>
    <section class="main-right">

    </section>

</main>
{#------------------------主要内容--->结束-----------------------------#}

{# ============闪现消息=================#}
<div class="flash-message">
{% for category,message in get_flashed_messages(with_categories=true) %}
    {% if category=="success" %}
        <div class="alert alert-success alert-dismissable">
    {% elif category=="warning" %}
        <div class="alert alert-warning">
    {% elif category=="danger" %}
        <div class="alert alert-danger">
    {% else %}
        <div class="alert alert-info">
    {% endif %}
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times</button>{{ message }}
</div>
{% endfor %}
</div>

{#------------------------底部--->开始-----------------------------#}
<footer id="footer">
    <div class="footer-right">
        <p>534003512@qq.com</p>
        <p>一起探索<strong>自动化测试</strong></p>
    </div>
</footer>
{#------------------------底部--->结束-----------------------------#}

</body>

</html>