{% extends 'base.html' %}
{% block menu %}
    <ul class="main-left-menu">
        {% for item in [
                    {"url":"index","title":"平台首页"},
                    {"url":"case.case_list","title":"用例管理"},
                    {"url":"interface.interface_list","title":"接口管理"},
                    {"url":"services.service_list","title":"应用管理"},
                    {"url":"services.service_list","title":"其他XX"},
                    {"url":"services.service_list","title":"其他CC"},
                    {"url":"services.service_list","title":"其他YY"},
                ] %}
            <li>
                <a href="{{ url_for(item.get('url')) }}">{{ item.get('title') }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
