<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}{% endblock %}
    </title>
    <!-- 引入Bootstrap -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/base.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}">
    {% import "bootstrap/wtf.html" as wtf %}
    {% block head %}{% endblock %}
</head>
<body id="content-body">
{#<nav class="side-navbar" id="navbar"></nav>#}
{#顶部导航   navbar-fixed-top#}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <a class="navbar-brand" href="#">
        <img class='logo' src="{{ url_for('static',filename='img/logo.png') }}" alt="logo">
    </a>
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active1">
                    <a href="">首页</a>
                </li>
                <li>
                    <a href="{{ url_for("case.case_create") }}">新建测试用例</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {% if select %}
                            {{ select }}
                        {% else %}
                            选择菜单
                        {% endif %}
                        <strong class="caret"></strong>
                    </a>
                    <ul class="dropdown-menu">
                        {% for item in [
                                {"url":"home.index","title":"平台首页"},
                                {"url":"case.case_list","title":"用例管理"},
                                {"url":"interface.interface_list","title":"接口管理"},
                                {"url":"services.service_list","title":"服务管理"},
                            ] %}
                            <li role="separator" class="divider"></li>
                            <li style="background-color: #dadada">
                                <a href="{{ url_for(item.get('url')) }}">{{ item.get('title') }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search" action="{{ url_for('case.case_quick_search') }}"
                  method="post">
                <div class="form-group">
                    <input type="text" class="form-control" name="name" placeholder="请输入测试用例名称"/>
                </div>
                <button type="submit" class="btn btn-default btn-primary">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
            </form>

            <ul class="nav navbar-nav navbar-right">
                {#current_user.__dict__!={}当前用户的属性dict不为空，则表示当前用户是登陆状态#}
                {% if current_user.__dict__!={} %}
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{ current_user.mini_name }}</a></li>
                    <li><a href="{{ url_for('user.logout') }}"><span class="glyphicon glyphicon-log-in"></span> 注销</a>
                    </li>
                {% else %}
                    <li><a href="{{ url_for('user.login') }}"><span class="glyphicon glyphicon-log-in"></span> 登陆</a>
                    </li>
                    <li><a href="{{ url_for('user.sign') }}"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>
<div class="main">
    {% block main %}{% endblock %}
    <br>
    {% for message in get_flashed_messages() %}
        <div class="alert success alert-warning">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message }}
        </div>
    {% endfor %}
</div>
</body>
</html>