<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}{% endblock %}
    </title>
    <!-- 引入Bootstrap -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/base.css') }}">
    {% import "bootstrap/wtf.html" as wtf %}
    {% block head %}{% endblock %}

</head>
<body>
{#------------------------头部--->开始-----------------------------#}
<header id="header">
    <div class="header-center w clearfix">
        {#头部左侧#}
        <div class="header-center-l tl fl">
            <a class="header-center-l-logo" href="{{ url_for('index') }}">
                <img class='logo' src="{{ url_for('static',filename='img/logo.png') }}" alt="logo">
                <span>Welcome To AutoTest</span>
            </a>
        </div>
        {#头部中间导航#}
        <div class="header-center-c fl tc">
            <ul class="header-center-c-menu">
                {% for item in [
                    {"url":"index","title":"首页"},
                    {"url":"case.case_list","title":"用例"},
                    {"url":"interface.interface_list","title":"接口"},
                    {"url":"services.service_list","title":"应用"},
                    {"url":"services.service_list","title":"其他"},
                    {"url":"services.service_list","title":"其他"},
                    {"url":"services.service_list","title":"其他"},
                ] %}
                    <li>
                        <a href="{{ url_for(item.get('url')) }}">{{ item.get('title') }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {#头部右侧#}
        <div class="header-center-r fr tr">
            <ul class="header-center-r-user">
                {#current_user.__dict__!={}当前用户的属性dict不为空，则表示当前用户是登陆状态#}
                {% if current_user.__dict__!={} %}
                    <li><a href="javascript:;"><span
                            class="glyphicon glyphicon-user"></span> {{ current_user.mini_name }}</a></li>
                    <li><a href="{{ url_for('user.logout') }}"><span class="glyphicon glyphicon-log-in"></span> 注销</a>
                    </li>
                {% else %}
                    <li><a href="{{ url_for('user.login') }}"><span class="glyphicon glyphicon-log-in"></span> 登陆</a>
                    </li>
                    <li><a href="{{ url_for('user.sign') }}"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</header>
{#------------------------头部--->结束-----------------------------#}
</body>

</html>